{% extends "auctions/layout.html" %} {% block body %}
<h1>Create a listing</h1>
<form
  action="{% url 'create_listing' %}"
  method="POST"
  enctype="multipart/form-data"
>
  {% csrf_token %}
  <div>
    <h5>Auction Item:</h5>
    <input type="text" name="auction_item" />
    <h5>Price:</h5>
    <input type="text" name="price" />
    <h5>Category:</h5>
    <input type="text" name=" category" />
    <h5>Active Status:</h5>
    <select name="active_status" id="">
      <option value="True">True</option>
      <option value="False">False</option>
    </select>
    <h5>Photo:</h5>
    <input type="file" name="photo_url" id="" />
  </div>
  <button>Submit</button>
</form>
{% endblock %}
<!-- {% url 'create_listing' %} -->
<!-- class Listing(models.Model):
    listing_id = models.BigAutoField(primary_key=True)
    auction_item = models.CharField(max_length=64)
    price = models.IntegerField()
    category = models.CharField(max_length=64, default="General")
    active_status = models.BooleanField(default=True)
    photo_url  = models.ImageField(upload_to="Product_Images", default="abcd.jpg") -->
