{% extends "auctions/layout.html" %} {% block body %}
<h2>Active Listings</h2>
<ul>
  {% for listing in listings %} {% if listing.active_status %}
  <li>
    <a href="{% url 'auction' listing.listing_id %}"
      >ID: {{ listing.listing_id }}</a
    >
    | Item: {{ listing.auction_item }} | Category: {{ listing.category }}
  </li>
  <form action="{% url 'add_watchlist' listing.listing_id %}" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Add to Watchlist</button>
  </form>
  {% endif %} {% empty %}
  <li>No active listings available.</li>
  {% endfor %}
</ul>
{% endblock %}
